* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: inline-block;
}

header li {
    font-size: 25px;
    padding: auto 50px;
    margin: 0 50px;
    background-color: black;
}