* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("/resources/images/header.jpeg");

}

header li {
    font-size: 25px;
    padding: auto 50px;
    margin: 0 auto;
    display: inline-block;
    color: white;
    border-color: white;

}