
.projects__container {
    /* width: 100%; */
    margin: 10% 3%;
    /* border: 4px solid orange; */
    display: block;

}

.projects__container h1 {
    margin-left: 10%;
    font-size: 2.5em;

}

.projects__container h2 {
    margin-left: 10%;
    font-size: 2em;
    font-weight: 400;

}

.projects__container h2 {
    margin-left: 10%;
}




.projects__list{
    position: relative;
    margin-left: 10%;
    /* border: 2px solid black; */
    margin-right: 10%;
    /* gap: 15px; */
    justify-content: space-around;
    display: flex;
}

.ProjectIcon {
    position: relative;
    width: 400px;  /* Adjust to your desired size */
    height: 266px; /* Adjust to your desired size */
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0); /* Initially transparent */
    transition: background 0.3s ease; /* Smooth transition for the overlay */
    border-radius: 50px;
}

.Project__Image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the box while keeping its aspect ratio */
    transition: opacity 0.5s ease;
    background-color: white;
}

.Project__Darkening{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;

}

.Project__Text{
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 40px;
    z-index: 20;
    opacity: 1;
    /* border: 4px solid red; */
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    color: white;
    transition: opacity 0.5s ease;

}

.Project:hover .Project__Text{
    opacity: 1;
}

.Project:hover .Project__Image {
    opacity: 0.2;
}

.Project:hover .Project__Darkening{
    opacity: 1;
    background-color:  rgba(0, 0, 0, 0.84);
    /* border: 8px solid black; */
}

.Project:hover {
    opacity: 1;
    /* z-index: 10; */
    font-size: 20px;
    text-align: center;
}

.Project__MagGlas{
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.MagGlas{
    height: 20%;
    position: absolute;
    top: 40%;
    left: 45%;
}

.Project__MagGlas:hover {
    opacity: 1;
}


.projects__Link__Container{
    /* border:2px solid orange; */
    width: 100%;
    text-decoration: none;

}

.projects__Link{
    /* border: 2px solid red;, */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 10px;
    margin: 0 auto;
    /* text-decoration: none; */

}

.projects__Link h1{
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto; 
    margin-top: 40px;
    /* text-decoration: none; */
    border: 3px solid black;
    text-align: center;
    width: 400px;
    height: 70px;
    align-content: center;
    border-radius: 20px;
    color: black;
}

.projects__Link:hover h1:hover{
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}