.hero {
    position: relative;
    /* border : 1px solid blue; */
    width: 100%;
    /* margin-top: 0; */
    background-image: url('./imgs/nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;}


.hero-content {
    /* border : 1px solid blue; */

    padding: 10% 10%;
    justify-content: left;
}


#hero__statement{
    /* border : 1px solid blue; */
    font-size: 7rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

#hero__subtitle{
    margin-top: 10px;
    /* border : 1px solid blue; */
    font-size: 2rem;
    font-weight: 700;
    color: white;
}